services:
  apache:
    build: ./apache
    container_name: apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./apache/vhost.conf:/usr/local/apache2/conf/conf.d/vhost.conf
      - ./apache/sites:/usr/local/apache2/conf/conf.d/sites
    depends_on:
      - php
    networks:
      - backend

  php:
    build:
      context: ./php
    container_name: php
    volumes:
      - ./src:/var/www/html
    expose:
      - "9000"
    networks:
      - backend

  mariadb:
    image: mariadb:11
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: secret
    volumes:
      - ./data/mariadb:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - backend

  mongodb:
    image: mongo:7
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - "27017:27017"
    networks:
      - backend

networks:
  backend:
    driver: bridge